<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Motivation" data-toc-modified-id="Motivation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Motivation</a></span></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Space-for-your-work" data-toc-modified-id="Space-for-your-work-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Space for your work</a></span></li><li><span><a href="#What-can-you-find?" data-toc-modified-id="What-can-you-find?-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>What can you find?</a></span></li></ul></div>

# Motivation

Our goal here is to get a quick feel for loading in new data sets and see if we can quickly find some patterns in the dataset.

# Load the data

This dataset contains the body mass index (BMI) of $1786$ people, together with the number of steps each of them took on a particular day, in two files: one for men (`data/data9b_m.txt`), one for women (`data/data9b_w.txt`).

<!-- NOTE: Information on this dataset can be found in the README within the "data" directory  -->

To make things easier, below is some code to help get the data loaded:

In [1]:
import pandas as pd

# Link to the GitHub-hosted files
data_m = "https://raw.githubusercontent.com/MrGeislinger/flatiron-school-data-science-curriculum-resources/main/DataScienceBasics/Visualization/data/data9b_m.txt"
data_w = "https://raw.githubusercontent.com/MrGeislinger/flatiron-school-data-science-curriculum-resources/main/DataScienceBasics/Visualization/data/data9b_w.txt"

# These files uses tab-separated values
df_m = pd.read_csv(data_m, sep='\t')
df_w = pd.read_csv(data_w, sep='\t')

# Space for your work

In [18]:
df1 = pd.read_csv(data_m, sep='\t')

In [19]:
df2 = pd.read_csv(data_w, sep='\t')

In [23]:
df1

       ID  steps   bmi
0       1  15000  16.9
1       2  15000  16.9
2       6  14861  16.8
3       7  14861  16.8
4       8  14699  17.3
..    ...    ...   ...
860  1718    602  30.7
861  1735    602  27.6
862  1739    602  24.2
863  1747    463  28.9
864  1766    301  24.8

[865 rows x 3 columns]

In [ ]:
# your code

# What can you find?

List some observations you've found (with your team):

1. observation
2. observation
3. observation